/* .section {
  position: relative; 
  min-height: 100vh; 
  padding: 5rem 2rem;
  overflow: hidden; 
}

.content {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.content p {
  color: #b0b0b0;
} */



.section {
  position: relative; 
  min-height: 100vh; 
  padding: 5rem 2rem;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.content {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.content p {
  color: #b0b0b0;
}