.section {
  position: relative;
  min-height: 100vh;
  padding: 5rem 2rem;
  overflow: hidden;
}



.partnerSection {
  width: 100%;
  padding: 6rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #0a0f1f, #111827); /* same as About Us */
}

.partnerContainer {
  text-align: center;
  max-width: 800px;
}

.partnerHeading {
  font-size: 3rem;
  font-weight: 700;
  color: white;
  line-height: 1.2;
}
